<div class='md-padding' layout="row" layout-align="center none" layout-wrap>
	<md-fab-speed-dial 	ng-repeat="task in vm.tasks.finished | filter: vm.searchTask(searchTerms) as results track by task.id" 
											class="md-scale" 
											md-open="task.showOptions" 
											md-direction="down" 
											ng-mouseleave="task.showOptions=false"
											ng-class="{optionsOfHoveredCard: task.showOptions}">
		<md-fab-trigger>
			<md-card class="default" ng-class="{cardWithOptionsShown: task.showOptions}">
				<md-card-header class="md-title">
			    	{{ task.title }}
				</md-card-header>
			    <md-card-title>
			    	{{ task.description }}
			    </md-card-title>
			</md-card>
		</md-fab-trigger>
	 	<md-fab-actions>
	 		<div >
	  		<md-button class="md-fab md-primary md-raised" ng-click="vm.deleteTask(task, $event)">
	  			<md-icon>delete</md-icon>
	  			<md-tooltip md-direction="top">Delete</md-tooltip>
	  		</md-button>
	    	<md-button class="md-fab md-primary md-raised" ng-click="vm.openTaskVisualizationDialog(task, $event)">
	    		<md-icon>remove_red_eye</md-icon>
	    		<md-tooltip md-direction="top">View</md-tooltip>	
	    	</md-button>
	    	</div>
	  	</md-fab-actions>
	</md-fab-speed-dial>
	
	<md-content layout="row" layout-align="center center" flex layout-padding ng-if="!vm.tasks.loadingFinished && vm.tasks.finished.length == 0">
		<div flex=60 style="text-align: center;">
			<p>There are no finished tasks. C'mon, I know you can do better!</p>
			<p>Or maybe you're not keeping track of your tasks. Why are you not doing so? Let's do it! :)</p>
		</div>
	</md-content>
	
	<md-content layout="row" layout-align="center center" flex layout-padding ng-if="!vm.tasks.loadingFinished && vm.tasks.finished.length != 0 && results.length == 0">
		<div flex=60 style="text-align: center;">
			<p> No tasks found for search terms given. It may be in another castle!</p>
			<p><img class="toad" ng-src="app\common\img\8-bit-toad.png" alt="No task found" height="10%" width="10%" align="middle"/></p>
		</div>
	</md-content>
</div>