<div class='md-padding' layout="row" ng-show="!vm.tasks.loadingFinished && vm.tasks.finished.length == 0">
	<md-list ng-cloak>
		<md-list-item>
			<p class="md-header">There are no finished tasks. C'mon, I know you can do better!</p>
		</md-list-item>
		<md-list-item>
			<p class="md-header">Or maybe you're not keeping track of your tasks. In this case, sorry.</p>
		</md-list-item>
	</md-list>
</div>
<div class='md-padding' layout="row" layout-wrap>
	<md-fab-speed-dial 	ng-repeat="task in vm.tasks.finished track by task.id" 
											class="md-scale" 
											md-open="task.showOptions" 
											md-direction="down" 
											ng-mouseleave="task.showOptions=false"
											ng-class="{optionsOfHoveredCard: task.showOptions}">
		<md-fab-trigger>
			<md-card ng-class="{cardWithOptionsShown: task.showOptions}">
				<md-card-header class="md-title">
			    	{{ task.title }}
				</md-card-header>
			    <md-card-title>
			    	{{ task.description }}
			    </md-card-title>
			</md-card>
		</md-fab-trigger>
	 	<md-fab-actions>
	 		<div >
	  		<md-button class="md-fab md-primary md-raised" ng-click="vm.deleteTask(task, $event)"><md-icon>delete</md-icon></md-button>
	    	<md-button class="md-fab md-primary md-raised" ng-click="vm.openTaskVisualizationDialog($event, {}, task)"><md-icon>remove_red_eye</md-icon></md-button>
	    	</div>
	  	</md-fab-actions>
	</md-fab-speed-dial>
</div>