<div class='md-padding' layout="row" layout-align="center none" layout-wrap>
	<md-fab-speed-dial 	ng-repeat="task in vm.tasks.unfinished | filter: vm.searchTask(searchTerms) as results track by task.id" 
											class="md-scale" 
											md-open="task.showOptions" 
											md-direction="down" 
											ng-mouseleave="task.showOptions=false"
											ng-class="{optionsOfHoveredCard: task.showOptions}">
		<md-fab-trigger>
			<md-card ng-class="{cardWithOptionsShown: task.showOptions}">
				<md-card-header class="md-title">
			    	{{ task.title }}
				</md-card-header>
			    <md-card-title>
			    	{{ task.description }}
			    </md-card-title>
			</md-card>
		</md-fab-trigger>
	 	<md-fab-actions>
	 		<div >
	  		<md-button class="md-fab md-primary md-raised" ng-click="vm.deleteTask(task, $event)">
	  			<md-icon>delete</md-icon>
	  			<md-tooltip md-direction="top">Delete</md-tooltip>
	  		</md-button>
	    	<md-button class="md-fab md-primary md-raised" ng-click="vm.changeTaskPriority(task)">
	    		<md-icon>{{task.priorityIcon}}</md-icon>
	    		<md-tooltip md-direction="top">Priority</md-tooltip>
	    	</md-button>
	    	<md-button class="md-fab md-primary md-raised" ng-click="vm.openTaskEditionDialog(task, $event)">
	    		<md-icon>edit</md-icon>
	    		<md-tooltip md-direction="top">Edit</md-tooltip>
	    	</md-button>
	    	<md-button class="md-fab md-primary md-raised" ng-click="vm.finishTask(task)">
	    		<md-icon>done</md-icon>
	    		<md-tooltip md-direction="top">Finish</md-tooltip>
	    	</md-button>
	    	</div>
	  	</md-fab-actions>
	</md-fab-speed-dial>
	
	<md-content layout="row" layout-align="center center" flex layout-padding ng-if="!vm.tasks.loadingUnfinished && vm.tasks.unfinished.length == 0">
		<div flex=60 style="text-align: center;">
			<p>There are no unfinished tasks. Wow, you're very good (or maybe you did not registered your tasks).</p>
			<p>To create tasks, just click on the button on the bottom right corner. {{results}}</p>
		</div>
	</md-content>
	
	<md-content layout="row" layout-align="center center" flex layout-padding ng-if="!vm.tasks.loadingUnfinished && vm.tasks.unfinished.length != 0 && results.length == 0">
		<div flex=60 style="text-align: center;">
			<p> No tasks found for search terms given. It may be in another castle!</p>
			<p><img class="toad" ng-src="app\common\img\8-bit-toad.png" alt="No task found" align="middle"/></p>
		</div>
	</md-content>
</div>