<div layout="row" style="height:100%" flex>
    <md-sidenav 
    	class="md-sidenav-left" 
    	md-component-id="sidenav" 
    	md-is-locked-open="$mdMedia('gt-sm')" 
    	md-whiteframe="24">
      	<md-toolbar class="md-theme-indigo">
        	<h1 class="md-toolbar-tools" >Let's do it!</h1>
      	</md-toolbar>
      	<md-content layout="column" layout-padding>
        	<md-button 
        		ng-repeat="option in vm.menuOptions" 
        		style="text-align:left" 
        		ui-sref="{{ option.link }}" 
        		ui-sref-active="active-sidenav-link"
        		class="{{ option.class }}"
        		md-ink-ripple="{{ option.ripple }}">
        		<md-icon>
        			{{ option.icon }}
        		</md-icon> 
        		{{option.name}}
        	</md-button>
      	</md-content>
    </md-sidenav>
    <md-content flex layout-padding>
        <div ui-view>
			<div ui-view="main.home"></div>
		</div>
    </md-content>
    <md-button style="position: fixed;" class="md-fab md-primary md-raised md-fab-bottom-right" aria-label="Add" ng-click="vm.openDialog($event)">
		<md-icon >{{vm.FABIcon}}</md-icon>
	</md-button>
</div>