<div>
	<div class="ui left vertical inverted labeled visible sidebar menu" id="sidebar">
		<a ui-sref=main class="item">
			<span>
				<i class="home layout icon"></i>
				{{ vm.option1 }}
			</span>
			</a>
	
			<a ui-sref="main.unfinished" class="item">
			<span>
				<i class="calendar outline layout icon"></i>
				{{ vm.option2 }}
			</span>
				<i class="ui left pointing label"> {{ vm.unfinished }} </i>
			
			</a>
	
			<a ui-sref="main.finished" class="item">
			<span>
				<i class="check layout icon"></i>
				{{ vm.option3 }}
			</span>
				<div class="ui  left pointing label"> {{ vm.finished }} </div>
		</a>
	</div>
	<div class="pusher" id="content"> 
		<div ui-view>
			<div ui-view="home"></div>
		</div>	
	</div>
</div>

