<div layout='row' layout-align="center center" class='md-padding'>
	<md-card class="md-warning-card md-padding">
		<md-card-content>
			<h2 align="center">
				<md-icon>error_outline</md-icon> {{vm.title}}
				<md-icon>error_outline</md-icon>
			</h2>
			<br>
			<p>The backend server is offline. This web app needs an API to provide data manipulation operations. If you already implemented
				one, start it. But if not, no need to panic. We have a solution ready for you!
				<md-icon>insert_emoticon</md-icon>
			</p>
			<p>There's a RESTful API coded using NodeJS called Lets Do It API that provides the resources you need. Go to our <a href="{{vm.apiRepository}}"
				    target="_blank">API repository</a> and download this solution.</p>
			<p>To setup the application, first you need to install its dependencies using "npm install". After this, just run "npm start" and you're good to go.
				The API URL is already set in the TaskService.js as default. Easy Peasy!</p>
			</p>
		</md-card-content>
	</md-card>
</div>