<div class="ui two column grid">
	<div class="thirteen wide column">
		<div class="ui segment ">
			<table class="ui selectable table">
				<thead>
					<tr>
						<th>Title</th>
						<th>Description</th>
						<th>Deadline</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="task in vm.finishedTasks">
						<td>{{task.title}}</td>
						<td>{{task.description}}</td>
						<td>{{task.deadline? (task.deadline | date:'dd/MM/yyyy') : ""}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>