<md-dialog aria-label="New task" flex="35">
	<form name='taskForm' ng-submit="vm.submit()" novalidate>
		<md-toolbar>
	      <div class="md-toolbar-tools" align="center">
	        <h2>{{vm.title}}</h2>
	        <span flex></span>
	        <md-button class="md-icon-button" ng-click="vm.close()">
	          <md-icon aria-label="Close dialog">close</md-icon>
	        </md-button>
	      </div>
	    </md-toolbar>
		<md-dialog-content layout-padding flex>
			<div layout="row">
	        	<md-input-container class="md-block" flex>
	            	<md-icon>perm_identity</md-icon>
	                <input type="text" ng-model="vm.task.title" placeholder="Title" required md-autofocus>
	                <ng-messages for="taskForm.title.$error" role="alert">
	                	<ng-message when="required">The title is a required field.</ng-message>
					</ng-messages>
				</md-input-container>
	            <md-input-container  class="md-block" flex>
	            	<label>Deadline</label>
	                <md-datepicker ng-model="vm.task.deadline" md-open-on-focus md-hide-icons="calendar"></md-datepicker>
				</md-input-container>
			</div>
	        <div layout="row">
	        	<md-input-container class="md-block" flex>
	            	<label>Description</label>
	                <textarea ng-model="vm.task.description" md-maxlength="500" md-select-on-focus></textarea>
				</md-input-container>
			</div>
	        <div layout="row">
	        	<md-input-container class="md-block" flex>
	            	<label>Comments</label>
	                <textarea ng-model="vm.task.comments" md-maxlength="1000" rows="3" md-select-on-focus></textarea>
				</md-input-container>
			</div>
			<div layout="row">
	        	<md-input-container  class="md-block" flex>
	        		<md-checkbox ng-model="vm.task.priority" class="md-warn">{{vm.task.priority ? "Priority" : "Not Priority"}}</md-checkbox>
				</md-input-container>
	        </div>
		</md-dialog-content>
		<md-dialog-actions>
			<md-button class="md-primary md-raised" ng-click="vm.clear()">
				<md-icon>clear</md-icon> Clear
			</md-button>
			<md-button class="md-primary md-raised" type="submit" >
				<md-icon>add</md-icon> Create
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
