<div class='md-padding' layout="row" layout-wrap>
	<md-card class="md-task-card" ng-repeat="task in vm.unfinishedTasks">
		<md-card-header class="md-title" ng-click="vm.openDialog($event, {}, task)">
	    	{{ task.title }}
		</md-card-header>
	    <md-card-title>
	    	{{ task.description }}
	    </md-card-title>
	    <md-card-actions layout="row" layout-align="center">
	    	<md-button ng-click="vm.delete(task.id)"><md-icon>close</md-icon></md-button>
	    	<md-button ng-click="vm.prioritize(task)"><md-icon>{{task.priorityIcon}}</md-icon></md-button>
	    	<md-button ng-click="vm.finish(task)"><md-icon>done</md-icon></md-button>
	    </md-card-actions>
	</md-card>
</div>