<div class='md-padding' layout="row" layout-wrap>
	<md-card ng-repeat="task in vm.unfinishedTasks" ui-sref="main.home">
		<md-card-title class="md-headline">
	    	{{ task.title }}
		</md-card-title>
	    <md-card-content>
	    	{{ task.description }}
	    </md-card-content>
	    <md-card-actions layout="row" layout-align="center">
	    	<md-button><md-icon>close</md-icon></md-button>
	    	<md-button><md-icon>{{task.priorityClass}}</md-icon></md-button>
	    	<md-button><md-icon>done</md-icon></md-button>
	    </md-card-actions>
	</md-card>
</div>