<md-dialog aria-label="{{vm.title}}" flex="33">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{vm.title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <h3>{{vm.question}}</h3>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button class="md-primary md-raised" ng-click="vm.answerDialog('yes')">
                {{vm.yesText}}
            </md-button>
            <md-button class="md-primary md-raised" ng-click="vm.answerDialog('no')">
                {{vm.noText}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>