<md-dialog aria-label="New task" flex="35">
	<form name='taskForm' ng-submit="vm.submit()" novalidate>
		<md-toolbar>
	      <div class="md-toolbar-tools">
	        <h2>{{vm.title}}</h2>
	        <span flex></span>
	        <md-button class="md-icon-button" ng-click="vm.closeDialog()">
	          <md-icon aria-label="Close dialog">close</md-icon>
	        </md-button>
	      </div>
	    </md-toolbar>
		<md-dialog-content layout-padding flex>
			<div layout="row">
			
	        	<md-input-container class="md-block" flex>
	            	<md-icon>web</md-icon>
	                <input name="title" ng-model="vm.task.title" placeholder="Title" required md-autofocus>
	                <ng-messages for="taskForm.title.$error" role="alert">
	                	<ng-message when="required">The title is a required field.</ng-message>
					</ng-messages>
				</md-input-container>
				
	            <md-input-container  class="md-block" flex>
	                <md-datepicker name="deadline" ng-model="vm.task.deadline" placeholder="Deadline"></md-datepicker>
	                <ng-messages for="taskForm.deadline.$error" role="alert">
	                	<ng-message when="valid">This is not a valid date.</ng-message>
					</ng-messages>
				</md-input-container>
			</div>
			
	        <div layout="row">
	        	<md-input-container class="md-block" flex>
	        		<md-icon>description</md-icon>
	                <textarea name="description" ng-model="vm.task.description" placeholder="Description" md-maxlength="500" md-select-on-focus></textarea>
				</md-input-container>
			</div>
			
	        <div layout="row">
	        	<md-input-container class="md-block" flex>
	            	<md-icon>comment</md-icon>
	                <textarea name="comments" ng-model="vm.task.comments" placeholder="Comments" md-maxlength="1000" md-select-on-focus></textarea>
				</md-input-container>
			</div>
			
			<div layout="row">
	        	<md-input-container class="md-block" flex>
	        		<md-switch ng-model="vm.task.priority" class="md-warn" aria-label="Priority">
					    {{vm.task.priority ? "Prioritary task" : "Common task"}}
					</md-switch>
				</md-input-container>
	        </div>
	        
		</md-dialog-content>
		<md-dialog-actions>
			<md-button class="md-primary md-raised" ng-click="vm.clearDialog()">
				<md-icon>{{vm.clearIcon}}</md-icon> {{vm.clearName}}
			</md-button>
			<md-button type="submit" class="md-primary md-raised">
				<md-icon>{{vm.saveIcon}}</md-icon> {{vm.saveName}}
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
