<md-dialog aria-label="New task" flex="35">
	<form name='taskForm' novalidate>
		<md-toolbar>
	      <div class="md-toolbar-tools">
	        <h2>{{vm.title}}</h2>
	        <span flex></span>
	        <md-button class="md-icon-button" ng-click="vm.closeDialog()">
	          <md-icon aria-label="Close dialog">close</md-icon>
	        </md-button>
	      </div>
	    </md-toolbar>
		<md-dialog-content layout-padding flex>
			<div layout="row">
			
	        	<md-input-container class="md-block" flex>
	            	<md-icon>web</md-icon>
	                <input ng-model="vm.task.title" aria-label="Title" ng-disabled=true>
				</md-input-container>
				
	            <md-input-container  class="md-block" flex>
	                <md-datepicker ng-model="vm.task.deadline" aria-label="Deadline" ng-disabled=true></md-datepicker>
				</md-input-container>
			</div>
			
	        <div layout="row">
	        	<md-input-container class="md-block" flex>
	        		<md-icon>description</md-icon>
	                <textarea ng-model="vm.task.description" aria-label="Description" ng-disabled=true></textarea>
				</md-input-container>
			</div>
			
	        <div layout="row">
	        	<md-input-container class="md-block" flex>
	            	<md-icon>comment</md-icon>
	                <textarea ng-model="vm.task.comments" aria-label="Comments" ng-disabled=true></textarea>
				</md-input-container>
			</div>
			
			<div layout="row">
	        	<md-input-container class="md-block" flex>
	        		<md-switch ng-model="vm.task.priority" class="md-warn" aria-label="Priority" ng-disabled=true>
					    {{vm.task.priority ? "Prioritary task" : "Common task"}}
					</md-switch>
				</md-input-container>
	        </div>
	        
		</md-dialog-content>
		<md-dialog-actions>
			<md-button class="md-primary md-raised" ng-click="vm.deleteTask(vm.task)">
				<md-icon>{{vm.deleteIcon}}</md-icon> {{vm.deleteName}}
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
